services:
  telegram_bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: genetic_tree_bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./data:/app/data
